#grass2Move>path{
    transform-box: fill-box;
    animation-name:bottomScene;
    animation-timing-function: ease;
    animation-duration: 5s;
    transform-origin: bottom center;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes bottomScene {
    0%{transform: rotate(2deg)}
    25%{transform: rotate(-2deg)}
    50%{transform: rotate(2deg)}
    75%{transform: rotate(-2deg)}
}

#eggTopPart{
    transform-box: fill-box;
    animation-name:egg;
    animation-timing-function: linear;
    animation-duration: 3s;
    transform-origin: bottom right;
    animation-fill-mode: forwards;
}

@keyframes egg{
    0% {}
    100% {transform: rotate(150deg);}
}