body{
    height:100vh;
    width: 100vw;
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
    color: white;
}
#sceneContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 54vw;
    min-width: 40ch;
    border: 2px solid rgba(42, 173, 206, 0.753);
}
#middleScene{
    margin-bottom:-5vh;
    background-color: rgba(42, 173, 206, 0.753);
}
#topScene{
    background-color: rgba(42, 173, 206, 0.753);
}
form{
    box-sizing: border-box;
    display: flex;
    width: calc(100vw - 54vw);
    flex-direction: column;
    justify-content: center;
    background-color: rgb(206, 135, 42);
    border: 2px solid rgb(0, 0, 0);
    min-width: 40ch;
}
#formContainer{ /*Fields part */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 4ch;
    margin-left: 4ch;
    padding-bottom: 3ch;
}
#formContainer >div > * {
    margin: 1ch 0ch;
}
#formContainer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}
#formContainer>div >*{
    max-width:20ch;
}
#formContainer>div>input{
    padding: 1ch 0;
}
#formContainer>div>label{
    margin-left: 1ch;
}
#submitSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4ch;
}

#fenix{/*Black Icon*/
    position: relative;
    top: 25%;
    left:calc(100% - 32px);
    width: 64px;
}
h1{
    font-size: 2vh;
    line-height: 7vh;
}
h1 > span{
    font-weight: bold;
    font-size: 4vh;
}
/*inputs styling*/
input{
    border: 0.45ch solid rgb(219, 166, 19);
    border-radius: 2ch;
    outline: none;
    color: rgb(124, 118, 118);
}
input:invalid{
    border-color: rgb(219, 92, 19);
}
.topPart > input:valid{
    border-color:  rgb(19, 219, 19);
    outline: 0.3ch solid rgb(219, 166, 19);
}
input:focus{
    border-color: rgb(219, 166, 19);
    outline: thick double rgb(219, 139, 19);
    color:rgb(219, 139, 19);
}
input::placeholder{
    color: rgb(124, 118, 118);
    background-color: rgb(230, 192, 136);
    padding: 0.7vh 0;
}
input:placeholder-shown{
    background-color:rgb(219, 166, 19);
        font-size: 2vh;
}
input[type=submit]{
    font-size: 2vh;
    font-family: 'Roboto Mono', monospace, sans-serif;
    padding: 1ch 2ch;
    width: 21ch;
    margin-bottom: 2ch;
    background-color: rgb(230, 192, 136);
}