body{
    display: flex;
    font-size: 1.5ch;
}
#superContainer{
    height: 100vh;
    display: flex;
}
#superContainer>div{
    display: flex;
    background-color: aqua;
    height:100vh;
    align-items: center; 
}
#formContainer{
    width: 50vw;
}

#sceneContainer{
    box-sizing: border-box;
    height: max(70vh 100vh) ;
    width: 50vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    background-color: aqua;
}
#middleScene{
    margin-bottom:-4vw;
    box-sizing: border-box;
}
#bottomScene{
    box-sizing: border-box;
    display: flex;
}
#topScene{
    width: max(30vw 40vw);
    height: max(20hv 30hv);
}
form{
    box-sizing: border-box;
    max-height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4ch;
}
#formContainer{
    display: flex;
    gap: 4ch;
    padding: 0px 5ch;
}
#formContainer>div{
    display: flex;
    flex-direction: column;
    gap: 1ch;
}
#submitSection{
    padding: 0px 5ch;
    box-sizing: border-box;
    height: 12c0;    
}
#submitSection>p{
    padding-top: 20px;
}
